<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="http://java.sun.com/xml/ns/javaee
    http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0" >

    <display-name>Linked Data Map Cloud</display-name>

    <welcome-file-list>
    	<welcome-file>index.html</welcome-file>
  	</welcome-file-list>
  	
    <!-- 
    <error-page>
    	<location>/static/error.html</location>
	</error-page>
	 -->

	<filter>
		<filter-name>HEAD-to-GET</filter-name>
		<filter-class>info.snoha.matej.linkeddatamap.cloud.HttpHeadToGetFilter</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>HEAD-to-GET</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>

	<servlet>
		<servlet-name>FrontController</servlet-name>
		<servlet-class>info.snoha.matej.linkeddatamap.cloud.FrontController</servlet-class>
		<load-on-startup>1</load-on-startup>
	</servlet>
	<servlet-mapping>
		<servlet-name>FrontController</servlet-name>
		<url-pattern>/*</url-pattern>
	</servlet-mapping>
	
	<servlet>
	   <servlet-name>StaticFiles</servlet-name>
	   <servlet-class>org.eclipse.jetty.servlet.DefaultServlet</servlet-class>
	 </servlet>
	<servlet-mapping>
  		<servlet-name>StaticFiles</servlet-name>
  		<url-pattern>/static/*</url-pattern>
	</servlet-mapping>
    
</web-app>